<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHKEsT0flOLk_iddFYCoW67Z7zS5c15c8</string>
	<key>GCM_SENDER_ID</key>
	<string>429066132118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pandas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pandas-2a919</string>
	<key>STORAGE_BUCKET</key>
	<string>pandas-2a919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429066132118:ios:e613e299ab5eaae86a80b7</string>
</dict>
</plist>